.table > :not(:first-child) {
  border-top: 0px solid currentColor;
}
.fixed-table-pagination  {
  border-style : none !important;
}
.fixed-table-body::-webkit-scrollbar {
  display: none;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 0rem;
}
.table > :not(caption) > * > * {
  padding: 0rem;
}